{% extends('VeniceAdminBundle::Blog/base.html.twig') %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_BLOG_EDIT') %}
        <span class="tooltip">
            <span class="tooltip-hover">
                <a class="new-entry" id="newEntryIcon" href="{{ path('admin_category_new') }}">
                    <i class="tiecons tiecons-plus-light"></i>
                </a>
                <div class="tooltip-left">Create a new category</div>
            </span>
        </span>
    {% endif %}

    {{ parent() }}
    {% include "VeniceAdminBundle:Common:goUpAction.html.twig" with {"url": path("admin_blog_tabs"), "tooltip": "Go back to blog"} %}
{% endblock %}