/.idea
/web/bundles

/app/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/config/parameters_dev.yml
/app/config/parameters_prod.yml
/var/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
app/sessions/*
web/bundles/**
web/adminer.php
