<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Services">
            <directory>./src/AppBundle/Tests/Services</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/AppBundle/Services</directory>
        </whitelist>
    </filter>
</phpunit>