{% extends('AppBundle::base.html.twig') %}

{% block body %}
    <h1>Products</h1>
    <ul>
        {% for product in products if product.enabled %}
            <li>
                {% if app.user.hasAccessToProduct(product) %}
                    <a href="{{ path('front_product_show', {'id': product.id}) }}">
                        {{ product.name }}
                    </a>
                    <a href="{{ path("front_product_demo", {"id": product.id}) }}">To demo</a>
                {% elseif(product.type == "standard") %}
                    {{ product.name }}
                    {% include "FrontBundle:Common:buyLink.html.twig" with {"url": urlGenerator.generateBuyUrl(product, false), "text": "Buy now" } %}
                    {% include "FrontBundle:Common:buyLink.html.twig" with {"url": urlGenerator.generateBuyUrl(product, true), "text": "Buy now with stored credit card" } %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}