{% extends('VeniceAdminBundle::adminBase.html.twig') %}

{% block pageIcon %}
    <i class="trinity trinity-products"></i>
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_PRODUCT_EDIT') %}
        <span class="tooltip">
            <span class="tooltip-hover">
                <a class="new-entry" id="newEntryIcon" href="{{ path('admin_product_new') }}">
                    <i class="tiecons tiecons-plus-light"></i>
                </a>
                <div class="tooltip-bottom">Create a new product</div>
            </span>
        </span>
    {% endif %}
{% endblock %}