{% extends('VeniceAdminBundle::Product/base.html.twig') %}

{% block pageTitle %}
    New product
{% endblock %}

{% block pageAction %}
    {{ parent() }}
    {% include "VeniceAdminBundle:Common:goUpAction.html.twig" with {"url": path("admin_product_index"), "tooltip": "Go back to products"} %}
{% endblock %}


{% block pageBody %}
    <div class="box box-new-form">
        <div class="select-style form-control choice edit-form">
            <select name="entity_type_select" id="entity_type_select">
                <option value="standard" selected>Standard</option>
                <option value="free">Free</option>
            </select>
        </div>

        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div id="product_form" class="row">
            {#JS inserts form here#}
        </div>
    </div>

{% endblock %}