{% extends(':AdminBundle:adminBase.html.twig') %}

{% block pageIcon %}
    <i class="tiecons tiecons-pin-right-negative"></i>
{% endblock %}

{% block pageTitle %}
    Associations
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_CONTENT_PRODUCT_EDIT') %}
        <div class="navigation-box row margin-top-20">
            <a class="new-entry" id="newEntryIcon" href="{{ path('admin_content_product_new') }}">
                <i class="trinity trinity-plus"></i>
                <span class="hover-text">Create a new association</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block pageBody %}
    <div class="wrapper-grid">
        <ul>
            {% for contentProduct in contentProducts %}
                <li>
                    <a href="{{ path('admin_content_product_tabs', {'id': contentProduct.id}) }}">
                        Content: {{ contentProduct.content.name}} associated with product: {{ contentProduct.product.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}