{% extends('@TrinityAdmin/Form/bowtie_form_layout.html.twig') %}

{# overrides \KMS\FroalaEditorBundle\Form\Type\FroalaEditorType's template #}
{% block froala_widget %}
    {% if serialNumber is defined %}
        {% set arrOption = arrOption|merge({"key": serialNumber}) %}
    {% endif %}
        <label class="required">Content:</label>
    <br>
        <div class="froala-editor-widget">
            <textarea {{ block( "widget_attributes" ) }} data-settings="{{ arrOption|json_encode }}">{{ value }}</textarea>
        </div>
{% endblock %}