{% extends('AdminBundle::adminBase.html.twig') %}

{% block pageTitle %}
    Products
{% endblock %}

{% block pageIcon %}
    <i class="trinity trinity-products"></i>
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_PRODUCT_EDIT') %}
        <div class="navigation-box row margin-top-20">
            <a class="new-entry" id="newEntryIcon" href="{{ path('admin_product_new') }}">
                <i class="trinity trinity-plus"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}


{% block pageBody %}
    <div class="box">
        <div id="product-grid"  data-config="{{ gridConfiguration }}">
        </div>
    </div>
{% endblock %}