{% extends('AdminBundle::adminBase.html.twig') %}

{% block pageTitle %}
    New product
{% endblock %}

{% block pageIcon %}
    <i class="trinity trinity-products"></i>
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_PRODUCT_EDIT') %}
        <div class="navigation-box row margin-top-20">
            <a class="new-entry" id="newEntryIcon" href="{{ path('admin_product_new') }}">
                <i class="trinity trinity-plus"></i>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block pageBody %}
    <div class="box box-new-form">
        <div class="select-style form-control choice edit-form">
            <select name="entity_type_select" id="entity_type_select">
                <option value="standard" selected>Standard</option>
                <option value="free">Free</option>
            </select>
        </div>

        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div id="product_form" class="row">
            {#insert form here#}
        </div>
    </div>

{% endblock %}