
{% if id is not defined%}
    {% set id = "" %}
{% endif %}

{% if class is not defined%}
    {% set class = "" %}
{% endif %}

{% if url is not empty %}
    <a id="{{ id }}" class="{{ class }}" href="{{ url }}">{{ text }}</a>
{% endif %}