{% extends ":AdminBundle:adminBase.html.twig" %}

{% block pageTitle %}
    Billing plan
{% endblock %}

{% block pageIcon %}
    <i class="trinity trinity-money"></i>
{% endblock %}

{% block pageBody -%}

    <div class="tabs-wrapper margin-top-20">
        <input type="radio" name="tab" id="tab1" class="tab-head" checked />
        <label for="tab1">Show</label>

        {% if is_granted('ROLE_ADMIN_BILLING_PLAN_EDIT') %}
            {% if displayEditTab %}
                <input type="radio" name="tab" id="tab2" class="tab-head" />
                <label for="tab2">Edit</label>
            {% endif %}
            {% if displayDeleteTab %}
                <input type="radio" name="tab" id="tab3" class="tab-head" />
                <label for="tab3">Danger zone</label>
            {% endif %}
        {% endif %}

        <div class="tab-body-wrapper">
            <div id="tab-body-1" class="tab-body" data-source="{{ path('admin_billing_plan_show', {'id': billingPlan.id}) }}"></div>
            {% if is_granted('ROLE_ADMIN_BILLING_PLAN_EDIT') %}
                {% if displayEditTab %}
                    <div id="tab-body-2" class="tab-body" data-source="{{ path('admin_billing_plan_edit', {'id': billingPlan.id}) }}"></div>
                {% endif %}
                {% if displayDeleteTab %}
                    <div id="tab-body-3" class="tab-body" data-source="{{ path('admin_billing_plan_delete_tab', {'id': billingPlan.id}) }}"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

