<div class="contentProduct-show">
    <table class="record_properties grid">
        <tbody>
            <tr>
                <th>Product</th>
                <td>{{ contentProduct.product.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ contentProduct.content.name }}</td>
            </tr>
            <tr>
                <th>Delay</th>
                <td>{{ contentProduct.delay }}</td>
            </tr>
            <tr>
                <th>Order number</th>
                <td>{{ contentProduct.orderNumber }}</td>
            </tr>
        </tbody>
    </table>
</div>
