{% extends('@TrinityAdmin/Form/bowtie_form_layout.html.twig') %}


{#todo: possible solution with labels; but the javascript collection ignores this and does work#}
{#{%- block collection_row -%}#}

    {#<div class="row">#}
        {#<div class="form-content-center span-none-small-18 span-medium-22 span-large-21 span-xlarge-17 margin-auto">#}
            {#<div class="collection">#}
                {#<div class="collection-label span-none-padding-medium-9 span-none-padding-large-7 span-none-padding-xlarge-7 form-left  form-left">#}
                    {#{{- form_label(form) -}}#}
                {#</div>#}
                {#<div class="collection-widget span-none-padding-small-24 span-none-padding-medium-13 span-none-padding-large-12 span-none-padding-xlarge-11 form-right">#}
                    {#&#123;&#35;{{- form_widget(form) -}}&#35;&#125;#}
                    {#{% for item in form %}#}
                        {#{% for subItem in item %}#}
                            {#{{ form_label(subItem) }}#}
                            {#{{ form_row(subItem) }}#}
                        {#{% endfor %}#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{#{%- endblock collection_row -%}#}