{% extends(":AdminBundle:adminBase.html.twig") %}

{% block pageBody %}
    {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
    {{ form_row(form.name) }}

    <h2>Contents:</h2>
    {{ form_row(form.items) }}

    {{ form_end(form) }}
{% endblock %}
