{% extends('VeniceAdminBundle::Content/base.html.twig') %}

{% block pageTitle %}
    Contents
{% endblock %}


{% block pageBody %}
    {% if count>0 %}
        <div class="box">
            <div id="content-grid"  data-config="{{ gridConfiguration }}">
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="span-none-padding-xlarge-24 margin-auto">
                <div class="span-none-xlarge-10 margin-top-20">
                    <div class="info-empty-form">
                        <div class="row"><i class="trinity-info"></i></div>
                        <div class="row"><h2 class="warning">NO DATA</h2></div>
                    </div>
                </div>
            </div>
            {% if (is_granted('ROLE_ADMIN_CONTENT_EDIT')) %}
                <div class="info-empty-form">
                    <a class="button button-addNew" id="newIcon" href="{{ path('admin_content_new') }}">
                        Add new Content
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}