{% extends "VeniceAdminBundle:Content:show.html.twig" %}

{% block tableContent %}
    <tr>
        <th>Link</th>
        <td><a href="{{ content.link }}">{{ content.link }}</a></td>
    </tr>
    <tr>
        <th>Duration</th>
        <td>{{ content.duration }}</td>
    </tr>
{% endblock %}