<div class="wrapper-grid">
    <div class="content-show">
        <table class="record_properties grid">
            <tbody>
            <tr>
                <th>#</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ content.name }}</td>
            </tr>

            {% block tableContent %}

            {% endblock %}
            </tbody>
        </table>

        {% block afterTable %}

        {% endblock %}
    </div>
</div>