<div id="{% block divId %} {% endblock %}">
    <div class="row">
        <div class="span-none-padding-xlarge-24 margin-auto">
            <div class="span-none-xlarge-10">
                <div class="delete-form">
                    <div class="row"><i class="trinity-warning"></i></div>
                    <div class="row"><h2 class="warning">WARNING</h2></div>
                    <div class="row span-none-xlarge-10">
                        <p>
                            {% block message %} This operation cannot be undone. Please be certain. {% endblock %}
                        </p>
                    </div>
                    <div class="row span-none-xlarge-5">
                        {% block controll %}
                            {{ form_start(form) }}
                            {{ form_row(form.submit, {'attr': {'class': 'button delete'}}) }}
                            {{ form_end(form) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>