{% extends(':AdminBundle:adminBase.html.twig') %}

{% block pageTitle %}
    Users
{% endblock %}

{% block pageIcon %}
    <i class="trinity trinity-users"></i>
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_BLOG_EDIT') %}
        <div class="navigation-box row margin-top-20">
            <a class="new-entry" id="newEntryIcon" href="{{ path('admin_user_new') }}">
                <i class="trinity trinity-plus"></i>
                <span class="hover-text">Create a new user</span>
            </a>
        </div>
    {% endif %}
{% endblock %}


{% block pageBody %}
    <div class="wrapper-grid">
        <ul>
            {% for user in users %}
                <li>
                    <a href="{{ path('admin_user_tabs', {'id': user.id}) }}">
                        {{ user.fullNameOrUsername }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


