{% extends(':AdminBundle:adminBase.html.twig') %}

{% block pageIcon %}
    <i class="trinity trinity-page-list"></i>
{% endblock %}

{% block pageAction %}
    <div class="navigation-box row margin-top-20">
        <a class="new-entry" id="newEntryIcon" href="{{ path('admin_blog_article_new') }}">
            <i class="trinity trinity-plus"></i>
            <span class="hover-text">Create a new product</span>
        </a>
    </div>
{% endblock %}

{% block pageBody %}
    <ul>
        {% for blogArticle in blogArticles %}
            <li>
                 <a href="{{ path('admin_blog_article_tabs', {'id': blogArticle.id})}}">{{ blogArticle.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}