{% extends('base.html.twig') %}

{% block body %}
    <ul>
        <li><a href="{{ path("front_product_immersion", {"id": 12}) }}">To simple immersion</a></li>
        <li><a href="{{ path("front_product_immersion2", {"id": 13}) }}">To immersion with content groups</a></li>
    </ul>
{% endblock %}