{% extends ":AdminBundle:adminBase.html.twig" %}

{% block pageTitle %}
    Product access
{% endblock %}

{% block pageIcon %}
    <i class="tiecons tiecons-share-negative"></i>
{% endblock %}

{% block pageBody -%}

    <div class="tabs-wrapper margin-top-20">
        <input type="radio" name="tab" id="tab1" class="tab-head" checked />
        <label for="tab1">Show</label>

        {% if is_granted('ROLE_ADMIN_PRODUCT_ACCESS_EDIT') %}
            {% if appLogic.displayEditTabForProductAccess %}
                <input type="radio" name="tab" id="tab2" class="tab-head" />
                <label for="tab2">Edit</label>
            {% endif %}
            {% if appLogic.displayDeleteTabForProductAccess %}
                <input type="radio" name="tab" id="tab3" class="tab-head" />
                <label for="tab3">Danger zone</label>
            {% endif %}
        {% endif %}

        <div class="tab-body-wrapper">
            <div id="tab-body-1" class="tab-body" data-source="{{ path('admin_product_access_show', {'id': productAccess.id}) }}"></div>
            {% if is_granted('ROLE_ADMIN_PRODUCT_ACCESS_EDIT') %}
                {% if appLogic.displayEditTabForProductAccess %}
                    <div id="tab-body-2" class="tab-body" data-source="{{ path('admin_product_access_edit', {'id': productAccess.id}) }}"></div>
                {% endif %}
                {% if appLogic.displayDeleteTabForProductAccess %}
                    <div id="tab-body-3" class="tab-body" data-source="{{ path('admin_product_access_delete_tab', {'id': productAccess.id}) }}"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

