<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block exitImpersontaion%}
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div id="exit-impersontation" style="width: 100%; background-color: greenyellow; text-align: center;">
                    <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                </div>
            {% endif %}
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
