<span class="tooltip">
    <span class="tooltip-hover">
        <a class="go-up" id="upIcon" href="{{ url }}">
            <i class="trinity trinity-arrow-lvl-up"></i>
        </a>
        <div class="tooltip-bottom">{{ tooltip }}</div>
    </span>
</span>