<span class="tooltip">
    <span class="tooltip-hover">
        <a class="new-entry" target="_blank" href="{{ path('front_index', {'_switch_user': user.username}) }}">
            <i class="trinity-key"></i>
        </a>
        <div class="tooltip-bottom">Log as this user</div>
    </span>
</span>