<span class="tooltip">
    <span class="tooltip-hover">
        <a class="new-entry" target="_blank" href="{{ url }}">
            <i class="necktie necktielogo4"></i>
        </a>
        <div class="tooltip-left">View in Necktie</div>
    </span>
</span>