{% extends('AdminBundle::adminBase.html.twig') %}

{% block pageIcon %}
    <i class="tiecons tiecons-book-text"></i>
{% endblock %}

{% block pageTitle %}
    Blog articles
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN_BLOG_EDIT') %}
        <div class="navigation-box row margin-top-20">
            <a class="new-entry" id="newEntryIcon" href="{{ path('admin_blog_article_new') }}">
                <i class="trinity trinity-plus"></i>
                <span class="hover-text">Create a new product</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block pageBody %}
    <div class="wrapper-grid">
        <ul>
            {% for blogArticle in blogArticles %}
                <li>
                    <h4><a href="{{ path('admin_blog_article_tabs', {'id': blogArticle.id}) }}">{{ blogArticle.title }}</a></h4>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}