{% if count > 0 %}
    <div id="product-access-grid"  data-config="{{ gridConfiguration }}">
    </div>
{% else %}
    <div class="row">
        <div class="span-none-padding-xlarge-24 margin-auto">
            <div class="span-none-xlarge-10 margin-top-20">
                <div class="info-empty-form">
                    <div class="row"><i class="trinity-info"></i></div>
                    <div class="row"><h2 class="warning">NO DATA</h2></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}