{% extends('AdminBundle::Content/base.html.twig') %}

{% block pageTitle %}
    Content
{% endblock %}

{% block pageBody %}

    <div class="select-style form-control choice edit-form">
        <select name="entity_type_select" id="entity_type_select">
            <option value="group">Group</option>
            <option value="html">Html</option>
            <option value="iframe">IFrame</option>
            <option value="mp3">MP3</option>
            <option value="pdf">PDF</option>
            <option value="video" selected>Video</option>
        </select>
    </div>

    <div class="box box-new-form">

        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div id="content_form" class="row">
            {#Javascipt inserts form here#}
        </div>
    </div>

{% endblock %}