{% extends "AdminBundle:Content:show.html.twig" %}

{% block tableContent %}
    <tr>
        <th>Html</th>
        <td>{{ content.html}}</td>
    </tr>
{% endblock %}
{#todo: display content as it will be displayed in the user's section with proper css#}