{% extends "AdminBundle:Content:show.html.twig" %}

{% block tableContent %}
    <tr>
        <th>Handle</th>
        <td>
            {{ content.handle }}
        </td>
    </tr>
    <tr>
        <th>Items</th>
        <td>
            {% for item in content.items %}
                {{ item.content.name }} with delay: {{ item.delay }}<br>
            {% endfor %}
        </td>
    </tr>
{% endblock %}